@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /*--dark-blue: #004DFF;*/
  --dark-blue: #0064a8;
  /*--havelock-blue: #5C7AD8;*/
  --havelock-blue: #5da0d7;
  --mid-gray: #69696C;
  --spun-pearl: #AEADB1;
  --white-lilac: #F6F5FB;
  --cinder: #010102;
  --error: #FF0000;
  /*--background: rgba(92, 122, 216, 0.33);*/
  --background: rgba(93, 160, 215, 0.33);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
